<ng-container *ngIf="activeCurrency$ | async as activeCurrency">
  <div class="languages">
    <h2 class="languages__title">Choose currency:</h2>
    <ul class="languages__list">
      <li *ngFor="let item of currencies | keyvalue" class="languages__list-item">
        <cc-currency-button
          [currency]="item.value"
          [isActive]="item.value === activeCurrency"
          (setActiveCurrency)="setActiveCurrency($event)"
        ></cc-currency-button>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="currencyPairsRates$ | async as currencyPairsRates">
    <div *ngIf="products$ | async as products" class="product-list">
      <ng-container *ngFor="let product of products; trackByKey: 'uuid'; let i = index">
        <cc-product [activeCurrency]="activeCurrency" [currencyPairsRates]="currencyPairsRates" [product]="product"></cc-product>
      </ng-container>
    </div>
    <cc-total-price
      *ngIf="totalProductsPrice$ | async as totalProductsPrice"
      [activeCurrency]="activeCurrency"
      [currencyPairsRates]="currencyPairsRates"
      [totalProductsPrice]="totalProductsPrice"
    ></cc-total-price>
  </ng-container>
</ng-container>
